%data
	%themeinfo
		%name webOS Moka
		%version 1.2
		%creator JamesVorder
		%description This is a manually created theme, because ThemeBuilder wasn't cooperating AT ALL and I'm sick of redoing it.
		%website presences.org
		%screenshots
			%image images/Backgrounds/meshBackground.png
	%themelist
		-#
			Backgrounds
		%wallpaper
			%image images/Backgrounds/meshBackground.png
		%file
			%filename images/Backgrounds/scrim.png
			%destination /usr/palm/applications/com.palm.app.browser/images/background-bookmarks-grid.png
		%file
			%filename images/Backgrounds/scrim.png
			%destination /usr/palm/applications/com.palm.app.phone/images/backdrop-phone.png
		%file
			%filename images/Backgrounds/scrim.png
			%destination /usr/palm/applications/com.palm.app.photos/images/background.png
		-#
			Messaging
		%file
			%filename images/Messaging/chat-balloon-left.png
			%destination /usr/palm/applications/com.palm.app.messaging/images/chatview/chat-balloon-left.png
		%file
			%filename images/Messaging/chat-balloon-right.png
			%destination /usr/palm/applications/com.palm.app.messaging/images/chatview/chat-balloon-right.png
		-#
			App Launcher
		%file
			%filename images/Launcher/icon.png
			%destination /usr/lib/luna/system/luna-applauncher/icon.png
		%file
			%filename images/Launcher/scrim.png
			%destination /usr/lib/luna/system/luna-applauncher/images/scrim.png
		-#
			Lock Screen
		%file
			%filename images/Lock/target.png
			%destination /usr/palm/sysmgr/images/screen-lock-target-scrim.png
		%file
			%filename images/Lock/unlock.png
			%destination /usr/palm/sysmgr/images/screen-lock-padlock-off.png
		%file
			%filename images/Lock/unlockGlow.png
			%destination /usr/palm/sysmgr/images/screen-lock-padlock-on.png
		-#
			Application Icons
		%iconset
			%icon
				%appid com.palm.app.amazonstore
				%image images/amazonmp3.png
			%icon
				%appid com.palm.app.backup
				%image images/backup.png
			%icon
				%appid com.palm.app.bluetooth
				%image images/bluetooth.png
			%icon
				%appid com.palm.app.browser
				%image images/browser.png
			%icon
				%appid com.palm.app.calculator
				%image images/calculator.png
			%icon
				%appid com.palm.app.calendar
				%image images/calendar.png
			%icon
				%appid com.palm.app.camera
				%image images/camera.png
			%icon
				%appid com.palm.app.clock
				%image images/clock.png
			%icon
				%appid com.palm.app.collectlogs
				%image images/logs.png
			%icon
				%appid com.palm.app.contacts
				%image images/contacts.png
			%icon
				%appid com.palm.app.dateandtime
				%image images/dateandtime.png
			%icon
				%appid com.palm.app.deviceinfo
				%image images/deviceinfo.png
			%icon
				%appid com.palm.app.devmodeswitcher
				%image images/devmodeswitcher.png
			%icon
				%appid com.palm.app.docviewer
				%image images/docviewer.png
			%icon
				%appid com.palm.app.email
				%image images/email.png
			%icon
				%appid com.palm.app.findapps
				%image images/findapps.png
			%icon
				%appid com.palm.app.help
				%image images/help.png
			%icon
				%appid com.palm.app.languagepicker
				%image images/languagepicker.png
			%icon
				%appid com.palm.app.location
				%image images/location.png
			%icon
				%appid com.palm.app.maps
				%image images/maps.png
			%icon
				%appid com.palm.app.messaging
				%image images/messaging.png
			%icon
				%appid com.palm.app.musicplayer
				%image images/musicplayer.png
			%icon
				%appid com.palm.app.notes
				%image images/notes.png
			%icon
				%appid com.palm.app.pdfviewer
				%image images/pdfviewer.png
			%icon
				%appid com.palm.app.phone
				%image images/phone.png
			%icon
				%appid com.palm.app.photos
				%image images/photos.png
			%icon
				%appid com.palm.app.screenlock
				%image images/screenlock.png
			%icon
				%appid com.palm.app.soundsandalerts
				%image images/soundsandalerts.png
			%icon
				%appid com.palm.app.tasks
				%image images/tasks.png
			%icon
				%appid com.palm.app.updates
				%image images/updates.png
			%icon
				%appid com.palm.app.videoplayer
				%image images/videoplayer.png
			%icon
				%appid com.palm.app.wifi
				%image images/wifi.png
			%icon
				%appid com.palm.app.youtube
				%image images/youtube.png
			%icon
				%appid com.telenav.app.attnavigation
				%image images/attnavigation.png
			%icon
				%appid com.yellowpages.ypmobile.preload
				%image images/ypmobile.png
